.MovieCard {
    text-align: center;
    margin-left: 6%;
}

.userCard {
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 5rem;
}

.ThumbnailImage {
    max-width: 180px;
    margin: 2%;
}

.userText {
    font-size: 30px;
}